<launch>
  <param name="use_sim_time" value="true"/>

  <node pkg="fast-search-slam" type="icp_odometry" name="icp_odometry" output="screen" clear_params="true">
  <rosparam file="$(find fast-search-slam)/config/default.yaml" command="load" />
						
  </node>

  <node pkg="rviz" type="rviz" name="rviz" output="screen" 
  args="-d $(find fast-search-slam)/rviz/default.rviz">
  </node>

    <!-- ACES_logfile_odom  INTEL_logfile_odom  FREIBURGINDOOR_logfile  MITCSAIL_logfile MITKILLIAN_logfile -->
  <node pkg="rosbag" type="play" name="rosbag" args="--clock -r 3 $(find fast-search-slam)/dataset/INTEL_logfile_odom.bag"/>
</launch>
