<launch>
  <param name="use_sim_time" value="false"/>

  <node pkg="fast-search-slam" type="icp_odometry" name="icp_odometry" output="screen" clear_params="true">
  <rosparam file="$(find fast-search-slam)/config/default.yaml" command="load" />
						
  </node>

  <node pkg="rviz" type="rviz" name="rviz" output="screen" 
  args="-d $(find fast-search-slam)/rviz/default.rviz" required="true">
  </node>
</launch>
